* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: garamond, sans-serif;
  font-size: 20px;
  background-color: white;
}

h1 {
  color: blue;
}

header {
  background-color: darkgreen;
  padding-bottom: 10 px;
}

#nav {
}

.nav-list {
  display: inline;
}

img {
  width: 400px;
  height: 300px;
}

.text-right {
  text-align: right;
}
